@import "tailwindcss";


:root{
  --footer-bg: #e9e8e8; 
  --footer-dark: #1f2937; 
  --muted: #6b6b6b;
}
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background: white;
  color: var(--footer-dark);
}